{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
<!-- {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options }} -->
{{ $style := resources.Get "sass/main.scss" | toCSS | minify  }}
{{/* Uncomment to use main.css */}}
{{/* $style := resources.Get "sass/main.css" */}}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
<!-- <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ end }}"/> -->
{{ if .Params.description }}
<meta name="description" content="{{ .Params.description }}">
{{ else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ with partial "bannerURL" . }}
<link rel="preload" as="image" href="{{ . }}" type="image/jpg"/>
{{end}}
